body {
    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 0.9375rem;   
}
small {
    font-style: italic;
}
article {
    display: flex;
    flex-direction: column;
}
img {
    max-width: 100%;
    display: flexbox;
    align-self: center;
}
hr {
    border: 10;
    clear:both;
    display:block;
    width: 96%;               
    background-color: black;
    height: 1px;
  }
.switch {
    align-self: flex-end;
    margin: 0.9375rem;
}
.inner-switch {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 1.25rem;
    width: 3.125rem;
    text-align: center;
    font-size: 1rem;
    padding: 0.1875rem;
    margin-left: 0.3125rem;
}
.dark,
.dark * {
    background-color: #222;
    transition: 0.5s;
    color: #e6e6e6;
    border-color: #e6e6e6;
}